---
layout: default
description: "Egy könnyen olvasható gyors referencia a PHP nyelv szépségeiről, az elfogadott kódolási irányelvekről és linkekkel, amik hasznos tartalmat adnak a temában tanulni vágyóknak."
---

{% capture welcome_content %}{% include welcome.md %}{% endcapture %}
{{ welcome_content|markdownify }}

{% capture backtotop %}[Back to Top](#top){.top}{% endcapture %}
{% for post in site.posts reversed %}
    {% if post.isChild != true and loop.first != true %}
    {{ backtotop|markdownify }}
    {% endif %}
    <div id="{{ post.title | downcase | replace:' ','_' | replace:'(','' | replace:')','' | replace:'.','' | replace:'-','' }}">
    {{ post.content }}
    </div>
{% endfor %}
{{ backtotop|markdownify }}
